/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*
 * Footer
 */
/*
 * Globals
 */

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  /*color: #555;*/
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  /*color: #333;*/
}

body > header > nav.navbar {
    padding: 0;
}

/* Minor tweaks to the navbar links */
ul#tabs {
    padding: 0;
}

ul.nav-tabs li.nav-item.active a.nav-link {
    border-color: #2B3E50;
}


/*
 * Topmost: Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: normal;
}
.blog-description {
  font-size: 2rem;
  color: #999;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 1.75rem;
}
.blog-post-meta {
  margin-bottom: 20px;
  font-size: .75rem;
  color: #999;
}
.blog-post-tags * {
    display: inline;
}

/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 1rem;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}



/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}




/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  margin-bottom: -20px;
  color: #c8c8c8;
  text-align: center;
  background-color: #2e3338;
  border-top: 1px solid rgba(0, 0, 0, .6);
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
