/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*
 * Footer
 */
.blog-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding: 20px 0;
  color: #c8c8c8;
  text-align: center;
  background-color: rgba(0, 0, 0, .2);
  border-top: 1px solid rgba(0, 0, 0, .6);
}
.blog-footer p:last-child {
  margin-bottom: 0;
}